{% extends 'layout.html.twig' %}
{% block body %}

<head xmlns="http://www.w3.org/1999/html">
    <title>Etewa Alexis ZINSOU | Web Developper, Director | name@yourdomain.com</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cv.css') }}" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
    <div id="inner">

        <div id="hd">
            <div class="yui-gc">
                <div class="yui-u first">
                    <h1>Etewa ZINSOU</h1>
                    <h2>Développeur PHP / SYMFONY</h2>
                </div>

                <div class="yui-u">
                    <div class="contact-info">
                        <h3><a id="pdf" href="#">Download PDF</a></h3>
                        <h3><a href="mailto:name@yourdomain.com">name@yourdomain.com</a></h3>
                        <h3>*******************</h3>
                    </div><!--// .contact-info -->
                </div>
            </div><!--// .yui-gc -->
        </div><!--// hd -->

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Profile</h2>
                        </div>
                        <div class="yui-u">
                            <p class="enlarge">
                                Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change.
                            </p>
                        </div>
                    </div><!--// .yui-gf -->

                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Compétences</h2>
                        </div>

                        <div class="yui-u">
                            <ul class="talent">
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JQuery</li>
                                <li>TypeScript</li>
                                <li class="last">Javascript</li>
                            </ul>

                            <ul class="talent">
                                <li>Jquery</li>
                                <li>PHP 5</li>
                                <li>Gestion De Projet</li>
                                <li class="last">GIT</li>
                            </ul>

                            <ul class="talent">
                                <li>Symfony 3</li>
                                <li>Doctrine2</li>
                                <li class="last">MYSQL</li>
                                <li class="last">PHPUnit</li>
                            </ul>
                        </div>
                    </div><!--// .yui-gf-->

                    <div class="yui-gf">

                        <div class="yui-u first">
                            <h2>Experience</h2>
                        </div><!--// .yui-u -->

                        <div class="yui-u">

                            <div class="job">
                                <h2 style="color: blue">Jarvis Software</h2><br>
                                <h3 style="color: darkmagenta"><i>Développeur  PHP5 / Symfony 3</i></h3>
                                <h4>Mars 2015 - Fev 2017</h4>
                                <p>
                                    - Développement de logiciels à destination des clients de professions libérales. <br>
                                    - Développer des fonctionnalités très riches  pour satisfaire le besoin de chaque client.<br>
                                    - Réfonte de l'application V1 en V2  avec le framework Symfony
                                </p>
                                 <p>
                                    Technologies : <code>PHP5,Git, Symfony3, Mysql,Html5, Css3,JQuery, Typescript, Doctrine 2</code><br>
                                    Test : <samp>Phpunit </samp> <br>
                                    IDE : <samp>Phpstorm </samp> <br>
                                    Revue de code : <samp>Phabricator </samp> <br>
                                </p>
                            </div>

                            <div class="job">
                                <h2 style="color: blue">Caisse Régionale d'Assurance Maladie</h2><br>
                                <h3 style="color: darkmagenta"><i>Développeur Informatique PHP5</i></h3>
                                <h4>Dec 2014 - Jan 2015</h4>
                                <p>
                                    - Unifier la plateforme de développement et de production <br>
                                    - Migration des applications informatique LAMP2009 <br>
                                    - Correction des bugs et Optimisation du code <br>
                                </p>
                                <p>
                                    Technologies: <code>PHP5, MySQL, HTML5, CSS3, JQuery, XML, XSLT </code><br>
                                    IDE: <samp>Eclipse</samp>
                                </p>
                            </div>

                            <div class="job last">
                                <h2 style="color: blue"> SIFIJA - Jeune Afrique</h2><br>
                                <h3 style="color: darkmagenta"><i>Développeur Informatique PHP5</i></h3>
                                <h4>Mai 2014 - Septembre 2015</h4>
                                <p>
                                    - Participation pour la Refonte du site jeuneafrique.com <br>
                                    - Adaptation des maquettes réalisées par le DA, avec une nouvelle charte graphique  <br>
                                    - Développer une api en Symfony 2 pour  l’application mobile IPhone <br>

                                </p>
                                <p>
                                    Technologies : <code>PHP5, MySQL, WordPress, Symfony2, HTML5, CSS3, Javascript, JQuery </code><br>
                                    IDE: <samp>PhpStorm 7.1.3 </samp>
                                </p>
                            </div>


                            {#<div class="job last">#}
                                {#<h2>International Business Machines (IBM)</h2>#}
                                {#<h3>Lead Web Designer</h3>#}
                                {#<h4>2001-2004</h4>#}
                                {#<p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate excellent e-tailers with timely e-markets.</p>#}
                            {#</div>#}

                        </div><!--// .yui-u -->
                    </div><!--// .yui-gf -->
                    <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Formations</h2>
                        </div>
                        <div class="yui-u job">
                            <h2>Ecole IPSSI / Groupe IP-Formation - Paris, France</h2><br>
                            <h3><i>Administrateur du système d'information (ASI) -
                                <strong>Développement - Mobile & Logiciel</strong> </i></h3>
                            <h4>2015 - 2017</h4><br><br>
                        </div>
                        <div class="yui-u job">
                            <h2>Université François Rabelais de Tours - Tours, France</h2><br>
                            <h3><i>Master 2 Pro Informatique</i></h3>
                            <h4>2013 - 2014</h4><br><br>
                        </div>
                        <div class="yui-u job last">
                            <h2>Université de Nantes - Nantes, France</h2><br>
                            <h3><i>Master 2  Ingéniérie Chimique </i></h3>
                            <h4>2011 - 2012</h4>
                        </div>
                    </div>

                    <div class="yui-gf last">
                        <div class="yui-u first">
                            <h2>Certifications</h2>
                        </div>
                        <div class="yui-u job">
                            <h2>OpenClassrooms, Licence 89426162</h2><br>
                            <h3>
                                <i>
                                    <a href="https://openclassrooms.com/course-certificates/89426162" target="_blank">
                                        Programmez en orienté objet en PHP
                                     </a>
                                </i>
                            </h3>
                            <h4 class="certification-logo" aria-hidden="true">
                                <a href="https://openclassrooms.com/course-certificates/89426162" target="_blank">
                                    <span>
                                        <strong>
                                            <img class="lazy-load"
                                                 src="https://media.licdn.com/media/p/3/005/08c/08b/12e7eea.png"
                                                 data-li-src="https://media.licdn.com/media/p/3/005/08c/08b/12e7eea.png"
                                                 alt="OpenClassrooms">
                                        </strong>
                                    </span>
                                </a>
                            </h4><br><br>
                        </div>

                        <div class="yui-u job">
                            <h2>OpenClassrooms, Licence 17734793</h2><br>
                            <h3>
                                <i>
                                    <a href="https://openclassrooms.com/course-certificates/17734793" target="_blank">
                                        Concevez votre site web avec PHP et MySQL
                                    </a>
                                </i>
                            </h3>
                            <h4 class="certification-logo" aria-hidden="true">
                                <a href="https://openclassrooms.com/course-certificates/89426162" target="_blank">
                                    <span>
                                        <strong>
                                            <img class="lazy-load"
                                                 src="https://media.licdn.com/media/p/3/005/08c/08b/12e7eea.png"
                                                 data-li-src="https://media.licdn.com/media/p/3/005/08c/08b/12e7eea.png"
                                                 alt="OpenClassrooms">
                                        </strong>
                                    </span>
                                </a>
                            </h4><br><br>
                        </div>


                        <div class="yui-u job">
                            <h2>SensioLabs, Licence 78249113</h2><br>
                            <h3>
                                <i>
                                    <a href="https://openclassrooms.com/course-certificates/78249113" target="_blank">
                                        Développez votre site web avec le framework Symfony2
                                    </a>
                                </i>
                            </h3>
                            <h4 class="certification-logo" aria-hidden="true">
                                <a href="https://openclassrooms.com/course-certificates/78249113" target="_blank">
                                    <span>
                                         <strong>
                                            <img class="lazy-load" src="https://media.licdn.com/media/p/7/005/010/087/17a205c.png"
                                                data-li-src="https://media.licdn.com/media/p/7/005/010/087/17a205c.png" alt="SensioLabs">
                                        </strong>
                                    </span>
                                </a>
                            </h4><br><br>
                        </div>

                    </div>



                    <!--// .yui-gf -->
                </div><!--// .yui-b -->
            </div><!--// yui-main -->
        </div><!--// bd -->

        <div id="ft">
            <p>Etewa Zinsou &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
        </div><!--// footer -->

    </div><!-- // inner -->


</div><!--// doc -->



{% endblock %}

