body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn-floating.btn-small,
.btn-floating.wishlist,
.card .card-share
.social-reveal
.btn-floating {
    height: 47px;
    width: 47px;
    line-height: 0;
    margin: 10px;
}
.btn-floating i{
    text-align: center;
    font-size: 3.6rem;
}
.circle{
    border-radius: 50%;
    margin: 0.15em;
    font-size: 3em;
}

.fa-twitter{
    background: #4099FF;
    color: #FFFFFF;
    padding: 0.05em 0.07em;
}

.fa-google-plus{
    color: #FFFFFF;
    background: #dd4b39;
    padding: 0.1em 0.1em;
}

.fa-dribbble{
    color: #ea4c89;
}

.fa-pinterest{
    color: #cb2027;
}

.fa-facebook{
    background: #3B5998;
    color: #FFFFFF;
    padding: 0.05em 0.3em;
}

.fa-youtube{
    background: #bb0000;
    color: #FFFFFF;
    padding: 0.25em 0.25em;

}

html,
body,
header,
.view {
    height: 100%;
}
/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

/*Intro*/
.view {
    /*background: url("http://mdbootstrap.com/images/regular/city/img%20(20).jpg")no-repeat center center fixed;*/
    background: url("https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



